---
apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
--
apiVersion: apps/v1
kind: DaemonSet
metadata:
  labels:
    app: alpine
  name: alpine
  namespace: {{namespace}}
spec:
  selector:
    matchLabels:
      app: alpine
  template:
    metadata:
      labels:
        app: alpine
      name: alpine
    spec:
      containers:
      - image: lukmanulhakimd/docker-net-tools
        imagePullPolicy: Always
        name: alpine
        resources: {}
        securityContext:
          privileged: true
        stdin: true
        terminationMessagePath: /dev/termination-log
        tty: true
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      securityContext: {}
      terminationGracePeriodSeconds: 30

