{
    "name": "calico-k8s-network",
    "type": "calico",
    "etcd_endpoints": "{{etcdEndpoints}}",
    "log_level": "info",
    "ipam": {
        "type": "calico-ipam"
    },
    "etcd_ca_cert_file": "{{kubeHomeDir}}/certs/{{caCert}}",
    "kubernetes": {
        "kubeconfig": "{{kubeHomeDir}}/kubelet/kubeconfig"
    }
}
