kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
clusterDomain: {{clusterDomain}}
clusterDNS: {{clusterDns}}
PodCIDR: {{nodeCidr}}
serializeImagePulls: false
tlsCertFile: {{kubeHomeDir}}/certs/{{cert}}
tlsPrivateKeyFile: {{kubeHomeDir}}/certs/{{key}}
