apiVersion: v1
clusters:
- cluster:
    server: {{apiEndpoint}}
  name: kube-3
contexts:
- context:
    cluster: kube-vitess
    user: kube-proxy
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: kube-proxy
