[Unit]
Description=Kubernetes Kube Proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart={{ kubeHomeDir }}/bin/kube-proxy \
  --cluster-cidr={{clusterCidr}} \
  --masquerade-all=false \
  --kubeconfig={{ kubeHomeDir }}/kubelet/kubeconfig \
  --conntrack-min=1000000 \
  --proxy-mode=iptables \
  --v=2

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
