log_facility=daemon
pid_file=/var/run/nagios/nrpe.pid

server_port=5666
server_address={{ansible_default_ipv4.address}}

nrpe_user=nagios
nrpe_group=nagios

allowed_hosts=127.0.0.1, {{monitoringServer}}

dont_blame_nrpe=0
allow_bash_command_substitution=0

debug=0
command_timeout=60
connection_timeout=300

command[check_root]=/usr/lib/nagios/plugins/check_disk -w 20% -c 10% -p /
command[check_disk_data]=/usr/lib/nagios/plugins/check_disk -w 20% -c 10% -p /data
command[check_calico]=/usr/bin/sudo {{kubeHomeDir}}/bin/health-monitor.sh calico-node
command[check_etcd]=/usr/bin/sudo {{kubeHomeDir}}/bin/health-monitor.sh etcd
